.tweet-container {
    max-width: 600px;
    margin: 0 auto;    
    margin-top: 10px;
}

.tweet-content {
    position: relative;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    border-bottom: solid 0.1px;
    border-color: #c0b9b9;
}

.tweet-creator-avatar > * {
    line-height: 48px;
    font-size: 18px;
}

.tweet-creator-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;    
}

.tweet-creator-info {
    margin-left: 58px;
    margin-bottom: 10px;
    height: 58px;
}

.tweet-creator-info .creator-link {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tweet-creator-info .creator-link:hover .tweet-creator-name {
    color: #1890ff;
    text-decoration: underline;
}

.tweet-creator-name {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 4px;
    display: inline-block;    
    margin-right: 8px;
}

.tweet-creator-id {
    color: #657786;
    font-size: 15px;
    display: inline-block;  
}

.tweet-creation-date {
    display: block; 
    color: #657786;
    font-size: 13px;
    margin-top: 2px;
}

.tweet-text {
    margin-top: 5px;
    margin-bottom: 15px;
}

.like-before:hover {
    color: indianred;
    font-size: 17px;
    outline: 0;
  }

.like-after:hover{
    color: indianred;
    font-size: 17px;
    outline: 0;
}
  
.like-after {
    color: indianred;
    transition: font-size 0.3s;
}

.like-after:focus {
    outline: 0;
}
.like-before:focus {
    outline: 0;
}

.like-before {
    color: rgb(112, 102, 102);
    transition: font-size 0.3s;
}

.anticon-heart svg {
    display: none;
}
