.tweet-container {
    max-width: 600px;
    margin: 0 auto;    
    margin-top: 20px; 
}

.tweet-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.tweet-creator-avatar > * {
    line-height: 48px;
    font-size: 18px;
}

.tweet-creator-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;    
}

.tweet-creator-name {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 4px;
    display: inline-block;    
    margin-right: 8px;
}

.tweet-creator-id {
    color: #657786;
    font-size: 15px;
    display: inline-block;  
}

.tweet-creation-date {
    display: block; 
    color: #657786;
    font-size: 13px;
    margin-top: 2px;
}
